#include <dt-bindings/zmk/mouse.h>
#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&lt {
    tapping-term-ms = <150>;
    quick-tap-ms = <100>;
    require-prior-idle-ms = <75>;
    flavor = "balanced";
    hold-trigger-key-positions = <37 36 39 40>;
    hold-trigger-on-release;
};

/ {
    /* input config for mouse move mode */

    trackball_listener {
        compatible = "zmk,input-behavior-listener";
        device = <&vtrackball>;
        layers = <0 4>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_X>;
        y-input-code = <INPUT_REL_Y>;
        scale-multiplier = <1>;
        scale-divisor = <6>;

        // bindings = <&ib_toggle_layer 4>;
    };

    /* input config for snipe mode */

    trackball_snipe_listener {
        compatible = "zmk,input-behavior-listener";
        device = <&vtrackball>;
        layers = <3>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_X>;
        y-input-code = <INPUT_REL_Y>;
        scale-multiplier = <1>;
        scale-divisor = <8>;
    };

    /* input config for mouse scroll mode */

    trackball_scroll_listener {
        compatible = "zmk,input-behavior-listener";
        device = <&vtrackball>;
        layers = <1>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_HWHEEL>;
        y-input-code = <INPUT_REL_WHEEL>;
        bindings = <&ib_scroll_axis_lock>;
    };

    trackball_arrow_listener {
        compatible = "zmk,input-behavior-listener";
        device = <&vtrackball>;
        layers = <2>; // Працює тільки на шарі 2
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_X>;
        y-input-code = <INPUT_REL_Y>;
        scale-multiplier = <1>;
        scale-divisor = <1>;
        bindings = <&ib_arrow_nav>; // Використовуємо наш новий behavior
    };

    /* axis-locked scroll: accumulate raw counts, emit one tick on the
       dominant axis only (vertical priority), reset both accumulators */

    ib_scroll_axis_lock: ib_scroll_axis_lock {
        compatible = "zmk,input-behavior-scroll-axis-lock";
        #binding-cells = <0>;
        tick = <100>;
        lockout-ms = <250>;
    };

    /* adjust cooldown waiting period for mouse key layer after activated */

    ib_toggle_layer: ib_toggle_layer {
        compatible = "zmk,input-behavior-tog-layer";
        #binding-cells = <1>;
        time-to-live-ms = <500>;
    };

    ib_arrow_nav: ib_arrow_nav {
        compatible = "zmk,input-behavior-move-to-keypress";
        #binding-cells = <0>;
        threshold = <250>;
        x-threshold = < 200>;
        y-threshold = <300>;
        rate-limit-ms = <15>;
        reset-other-axis;
        bindings = <&kp RIGHT>, <&kp LEFT>, <&kp UP>, <&kp DOWN>;
    };

    // ╭──────┬──────┬──────┬──────┬──────┬──────╮  ╭──────┬──────┬──────┬──────┬──────┬──────╮
    //    00     01     02     03    04      05        06     07     08     09     10     11
    // ├──────┼──────┼──────┼──────┼──────┼──────┤  ├──────┼──────┼──────┼──────┼──────┼──────┤
    //    12     13     14     15    16      17        18     19     20     21     22     23
    // ├──────┼──────┼──────┼──────┼──────┼──────┤  ├──────┼──────┼──────┼──────┼──────┼──────┤
    //    24     25     26     27    28      29        30     31     32     33     34     35
    // ╰──────┴──────┴──────┼──────┼──────┼──────┤  ├──────┼──────┼──────┴──────┴──────┴──────╯
    //                         36     37     38        39     40
    //                      ╰──────┴──────┴──────╯  ╰──────┴──────╯

    #define BASE    0
    #define NUM     1
    #define NAV     2
    #define CAD     3
    #define MOU     4
    #define SET     5

    behaviors {
        left_ctrl_shift: left_ctrl_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "LEFT_CTRL_SHIFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <130>;
            quick-tap-ms = <75>;
            flavor = "balanced";
            hold-trigger-key-positions = <15 16>;
            require-prior-idle-ms = <50>;
            hold-trigger-on-release;
        };

        left_win_alt: left_win_alt {
            compatible = "zmk,behavior-hold-tap";
            label = "LEFT_WIN_ALT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <175>;
            quick-tap-ms = <100>;
            flavor = "balanced";
            require-prior-idle-ms = <75>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <13 14>;
        };

        right_ctrl_shift: right_ctrl_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "RIGHT_CTRL_SHIFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <100>;
            flavor = "balanced";
            require-prior-idle-ms = <75>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <19 20>;
        };

        right_win_alt: right_win_alt {
            compatible = "zmk,behavior-hold-tap";
            label = "RIGHT_WIN_ALT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <225>;
            quick-tap-ms = <125>;
            flavor = "balanced";
            require-prior-idle-ms = <90>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <22 21>;
        };

        bkspc_delete: bkspc_delete {
            compatible = "zmk,behavior-mod-morph";
            label = "BKSPC_DELETE";
            bindings = <&kp BACKSPACE>, <&kp DELETE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RCTL)>;
            keep-mods = <(MOD_RCTL)>;
        };

        // Крок 1: нічого -> ЛКМ, CTRL -> CTRL+ЛКМ
        // Крок 2: без ALT -> morph_ctrl, ALT -> ALT+ЛКМ  
        // Крок 3: без SHIFT -> morph_alt, SHIFT -> ПКМ
        // Крок 4: без WIN -> morph_shift, WIN -> ЦКМ
    };

    combos {
        compatible = "zmk,combos";

        cps_word {
            bindings = <&caps_word>;
            key-positions = <31 32>;
        };

        MMC {
            bindings = <&mkp MCLK>;
            key-positions = <38 41>;
        };

        caps_lck {
            bindings = <&kp CAPSLOCK>;
            key-positions = <27 28>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            display-name = "BAS";
            bindings = <
&none    &kp Q                     &kp W                     &kp E                     &kp R                          &kp T        &kp Y      &kp U                            &kp I                      &kp O                       &kp P                          &none
&kp TAB  &left_win_alt LEFT_GUI A  &left_win_alt LEFT_ALT S  &left_ctrl_shift LCTRL D  &left_ctrl_shift LEFT_SHIFT F  &kp G        &kp H      &right_ctrl_shift RIGHT_SHIFT J  &right_ctrl_shift RCTRL K  &right_win_alt RIGHT_ALT L  &right_win_alt RIGHT_GUI SEMI  &kp SQT
&none    &kp Z                     &kp X                     &kp C                     &kp V                          &kp B        &kp N      &kp M                            &kp COMMA                  &kp DOT                     &kp FSLH                       &none
                                                             &lt 2 ESCAPE              &lt 1 SPACE                    &mkp LCLK    &lt 4 RET  &kp BACKSPACE                    &mkp RCLK                  &mo 3                       &kp DEL
            >;
        };

        NUM {
            display-name = "NUM";
            bindings = <
&none            &kp MINUS     &kp PLUS      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp EQUAL    &kp EXCLAMATION  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp ASTERISK  &kp AMPERSAND  &none
&kp PRINTSCREEN  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3          &kp NUMBER_4           &kp N5       &kp NUMBER_6     &kp N7            &kp N8             &kp N9        &kp N0         &kp PIPE
&none            &kp DOLLAR    &kp AT_SIGN   &kp HASH              &kp LCTRL              &kp TILDE    &kp UNDERSCORE   &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp PERCENT   &kp BACKSLASH  &none
                                             &trans                &trans                 &trans       &trans           &trans            &trans             &trans        &trans
            >;
        };

        NAV {
            display-name = "NAV";
            bindings = <
&none         &kp PAGE_DOWN   &kp HOME      &kp END         &kp PG_UP        &kp PRINTSCREEN    &trans  &trans           &trans     &trans         &trans         &none
&kp C_VOL_DN  &kp LEFT_ARROW  &kp UP_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp C_VOLUME_UP    &trans  &kp RIGHT_SHIFT  &kp RCTRL  &kp RIGHT_ALT  &kp RIGHT_GUI  &trans
&none         &kp F1          &kp F2        &kp F3          &kp F4           &kp F5             &kp F6  &kp F7           &kp F8     &kp F9         &kp F10        &none
                                            &trans          &trans           &trans             &trans  &kp F12          &trans     &trans         &trans
            >;
        };

        ETC {
            display-name = "ETC";
            bindings = <
&trans  &trans  &trans  &trans     &trans  &trans       &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans     &trans  &trans       &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans     &trans  &trans       &trans  &trans  &trans  &trans  &trans  &trans
                        &mkp RCLK  &trans  &mkp LCLK    &trans  &trans  &trans  &trans  &trans
            >;
        };

        SET {
            display-name = "SET";
            bindings = <
&none  &trans      &trans        &bootloader   &sys_reset    &trans          &trans  &sys_reset      &bootloader  &trans  &trans  &trans
&none  &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3    &trans  &studio_unlock  &trans       &trans  &trans  &trans
&none  &trans      &trans        &trans        &trans        &trans          &trans  &trans          &trans       &trans  &trans  &trans
                                 &trans        &trans        &trans          &trans  &trans          &trans       &trans  &trans
            >;
        };
    };
};
